{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/chat-menu.css' %}">
    <title>{% block title %}Чат-приложение{% endblock %}</title>
</head>
<body>
    <div class="sidebar-wrapper"></div>
        <aside id="sidebar">

            {% if request.user.is_authenticated %}
                <div class="auth-button-container">
                    <a class="auth-button" href="{% url 'logout' %}">Выйти</a>
                </div>
            {% else %}
                <div class="auth-button-container">
                    <a class="auth-button" href="{% url 'login' %}">Войти</a>
                </div>
            {% endif %}

            <h2>Приложения</h2>
            <ul>
                {% for app in apps %}
                    {% if app == active_app %}
                        <li><a href="{% url 'chat' app.slug %}" class="active" data-slug="{{ app.slug }}">{{ app.name }}</a></li>
                    {% else %}
                    <li><a href="{% url 'chat' app.slug %}" data-slug="{{ app.slug }}">{{ app.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </aside>
    </div>
    <div class="pulsing-ball"></div>
    <img src="https://cdn-icons-png.flaticon.com/512/4543/4543046.png" alt="Toggle Sidebar" class="toggle-btn" id="toggleBtn">
    
    
    <main id="mainContent">
        <div class="chat-container">
            {% block content %}
                {% if active_app %}
                    {% include 'chat.html' %}
                {% else %}
                    <p>Выберите приложение для работы</p>
                {% endif %}
            {% endblock %}
        </div>
    </main>
</body>
<script src="{% static 'js/chat-menu.js' %}"></script>
</html>
