{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/start-menu.css' %}">
    <title>{% block title %}Чат-приложение{% endblock %}</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <p>Привет, {{ request.user.username }}!</p>
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}

    <div class="main-container">
        <div class="pulsing-text">Выберите приложение для работы</div>

        <div class="app-container">
            {% for app in apps %}
                <div class="app-box" data-slug="{{ app.slug }}" onclick="loadApp('{{ app.slug }}')">
                    <div class="app-title">{{ app.name }}</div>
                    <div class="app-description">{{ app.description }}</div>
                </div>
            {% endfor %}
        </div>
        
    </div>
</body>
<script src="{% static 'js/start-menu.js' %}"></script>
</html>
