{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/start-menu.css' %}">
    <title>{% block title %}Чат-приложение{% endblock %}</title>
</head>
<body>
    <div class="main-container">
        {% if request.user.is_authenticated %}
            <div class="auth-button-container">
                <a class="auth-button" href="{% url 'logout' %}">Выйти</a>
            </div>
        {% else %}
            <div class="auth-button-container">
                <a class="auth-button" href="{% url 'login' %}">Войти</a>
            </div>
        {% endif %}
        
        {% if not request.user.is_authenticated %}
            <div class="login-hint">
                Войдите в систему, чтобы получить доступ к дополнительным модулям
            </div>
        {% endif %}

        <div class="main-text">Выберите модуль для работы</div>

        <div class="app-container">
            {% for app in apps %}
                <div class="app-box" data-slug="{{ app.slug }}" onclick="loadApp('{{ app.slug }}')">
                    <div class="app-title">{{ app.name }}</div>
                    <div class="app-description">{{ app.description }}</div>
                </div>
            {% endfor %}
        </div>
        
    </div>
</body>
<script src="{% static 'js/start-menu.js' %}"></script>
</html>
