body {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    font-family: Inter, sans-serif;
    height: auto;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    text-align: center;
    width: 80%;
    max-width: 1500px;
}

.main-text {
    font-size: clamp(30px, 2vw, 45px);
    font-weight: 600;

    color: #000;
    margin-bottom: 30px;
    margin-top: 30px;
}

.app-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


@media (max-width: 1200px) { /* Для мобильных */
    .app-container {
        grid-template-columns: 1fr; /* Одна колонка */
        justify-items: center; /* Центрирование элементов внутри */
        max-width: 100%; /* Чтобы занимало всю ширину */
    }
    .app-box {
        width: 85%;
    }
}

.app-box {
    padding: 32px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    cursor: pointer;
    color: #000;
    font-size: 17px;
    font-weight: normal;
    transition: transform 0.2s ease;
}

.app-title {
    font-size: clamp(26px, 2vw, 30px);
    font-weight: 400;
    margin-bottom: 8px;
    color: #000;
}

.app-description {
    font-size: clamp(20px, 2vw, 25px);
    font-weight: normal;
    color: #333;
    line-height: 1.4;
    text-align: left;
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
}

.login-hint {
    text-align: center;
    color: #888;
    font-size: clamp(28px, 2vw, 38px);
    margin: 20px 0;
}


.app-box:hover {
    transform: scale(1.05);
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
}

.auth-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.auth-button {
    padding: 8px 22px;
    font-size: 22px;
    text-decoration: none;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.auth-button:hover {
    background-color: #f0f0f0;
}