body {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    font-family: Arial, sans-serif;
    height: auto;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    text-align: center;
    min-height: 100vh;
}

.pulsing-text {
    font-size: 20px;
    color: #333;
    animation: pulse 2s infinite ease-in-out;
    margin-bottom: 30px;
    margin-top: 30px;
}

.app-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 10px;
    margin: 0 auto; /* Центрирование контейнера */
}

@media (max-width: 768px) { /* Для мобильных */
    .app-container {
        grid-template-columns: 1fr; /* Одна колонка */
        justify-items: center; /* Центрирование элементов внутри */
        max-width: 100%; /* Чтобы занимало всю ширину */
    }
}

.app-box {
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы вертикально */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    color: #333;
    font-size: 14px; /* уменьшенный размер шрифта для лучшего отображения */
    font-weight: bold;
    transition: transform 0.3s ease;
}

.app-title {
    font-size: 30px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
}

.app-description {
    font-size: 15px;
    color: #7f8c8d;
 /* Запрещает переносу текста на новую строку */
    overflow: hidden; /* Прячет лишний текст, который не помещается */
    text-overflow: ellipsis; /* Добавляет многоточие (...) в конце строки */
    max-width: 100%; /* Ограничивает максимальную ширину */
    display: block; /* Убедитесь, что это блочный элемент */
}


.app-box:hover {
    transform: scale(1.05);
    background-color: #e6e6e6;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
}
